<%= render "shared/head"%>
</body>
    <h1>Secret</h1>
    <% @secrets.each do |secret|%>
       <p><%=secret.content%></p> 
       <p><%=secret.likes.length%> likes
            <% if secret.users_like.include?(current_user)%>
                <a href="/secrets/<%=secret.id%>/<%=current_user.id%>/unlike" 
                    class="btn btn-warning">Unlike</a>
            <% else %>
                <a href="/secrets/<%=secret.id%>/<%=current_user.id%>/like"
                    class="btn btn-primary">Like</a>
            <% end %>
            <% if secret.user == current_user %>
                <form class="form-inline" action="/secrets/<%=secret.id%>/<%=current_user.id%>/delete" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-danger" type="submit">Delete</a>
                </form>
            <% end %>
       </p>
    <% end %>
</html>